[Unit]
Description=fursvp daemon
After=network.target

[Service]
User={username}
Group={username}
WorkingDirectory=/home/{username}/FURsvp/
ExecStart=/usr/bin/gunicorn fursvp.wsgi:application --bind 0.0.0.0:80
Restart=always

[Install]
WantedBy=multi-user.target
